*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100vw;
    height:100vh;
    margin-top:5px;
    padding-top:10px;
    display: block;
    background-color:rgba(70, 67, 73, 0.3);
}

.navbar{
    width:100%;
    height:10vh;
    margin-bottom:50px;
    background-color:rgb(102, 102, 190);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.logo{
    font-size:40px;
    font-family: "Playwrite NZ Guides", cursive;
}

.nav ul{
    list-style: none;
    display:flex;
    position:fixed;
    justify-content: center;
    padding:20px;
    gap:45px;
    top: 0;
    right: 0;
    /* background-color: rgb(125, 20, 76); */
    padding-bottom:20px;
    
    
}

.nav li{
    gap:30px;
    cursor: pointer;
    align-items: end;
    padding-bottom:30px;
}
.nav li :hover{
    color: crimson;
}

.main{
    width:100vw;
    height:90vh;
    /* background-color: rgb(72, 96, 96); */
    margin-top:20px;
    display: block;
}



.main .header {
    background-size: cover;
    background-repeat: no-repeat;
    animation: flyUp 10s infinite;
    background-position: center;
}

 @keyframes flyUp{
    0%{
        background-image: url(IMG7JPG.webp);
    }
    20%{
        background-image: url(IMG8.JPG);
    }
    40%{
        background-image: url(IMG2.JPG);
    }
    80%{
        background-image: url(IMG10.JPG);
    }
 }
     

.header{
width:100vw;
height:40vh;
margin-top:20px;
padding-top:30px;
text-align: center;
font-size:45px;
color:rgb(5, 5, 218,0.8);
}
.body{
    width:100vw;
    height:40vh;
}
.body .mission{
    width:100vw;
    height:20vh;
    background-color:rgba(131, 139, 126, 0.4);
    border-radius:10px;
    font-size:20px;
}
.body .vision{
    width:100vw;
    height:25vh;
     background-color:rgba(114, 127, 105, 0.4);
     border-radius:10px;
     font-size:20px;
}


.subjects{
    width:100vw;
    height:50vh;

}
.subjects .h1 h1{
    font-size:30px;
    color: #521313;
    text-align: center;

}


.subjects .sub1 input{
    width:90vw;
    height:10vh;
    background-color: #000;
    color:#ffff;
    margin-top:10px;
    margin-bottom:15px;
    font-size:20px;
    border-radius:10px;
    text-align: center;
    margin-left:30px;
}
.subjects .sub2 input{
    width:90vw;
    height:10vh;
     background-color: #000;
    color:#ffff;
    margin-bottom:15px;
    font-size:20px;
    border-radius:10px;
    text-align: center;
    margin-left:30px;
}
.subjects .sub3 input{
    width:90vw;
    height:10vh;
     background-color: #000;
    color:#ffff;
    margin-bottom:15px;
    font-size:20px;
    border-radius:10px;
    text-align: center;
    margin-left:30px;
}

 .subjects .sub4 input{
    width:90vw;
    height:10vh;
     background-color: #000;
    color:#ffff;
    margin-bottom:15px;
    font-size:20px;
    border-radius:10px;
    text-align: center;
    margin-left:30px;
}

 section{
    width:100vw;
    height:100vh;
    display: block;
    padding-top:30px;

    
}
.checklist{
    width:100vw;
    height:50vh;
    font-size:25px; 
    padding:50px;
    text-align: center;
    color: #521313;
}
.checlist .check h1{
 font-size:40px;
 color: #521313;
}
.checklist select{
    font-size:20px;

}
.upper{
    width:100vw;
    height:50vh;
    
}
.upper h1{
    font-size:30px;
    text-align: center;
    color: #0f0909;
    padding-top:60px;
}
.upper select{
    padding:20px;
    font-size:15px;
    align-items: center;
}
.lower{
    width:100vw;
    height:50vh;
    text-align: center;
}
.lower h1{
font-size:30px;
color:#120808;
}
.lower p{
    font-size:20px;
    color: #120808;
}
.lower button {
border-radius:20px;
background-color:rgb(40, 40, 170);
color:#ffff;

}
section{
    width: 100vw;
    height:100vh;
    display:block;
}

.footer{
    width:100vw;
    height:15vh;
    display: flex;
    gap:50px;
    margin-top:20px;
    background-color: #000;
    align-items: flex-end;
    bottom: 0;

}
.footer ul{
    display: flex;
    color: #ffff;
    background-color: #000;
}
.footer li {
    font-size:30px;
    list-style: none;
    padding-left:20px;
}


.p{
    width:100vw;
    height:3vh;
    margin-top:30px;
    align-items: center;
}







/*contact us.css*/
.navbar{
    width:100%;
    height:10vh;
    margin-bottom:50px;
    background-color:rgb(102, 102, 190);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}


.nav ul{
    list-style: none;
    display:flex;
    position:fixed;
    justify-content: center;
    padding:20px;
    gap:45px;
    top: 0;
    right: 0;
    /* background-color: rgb(125, 20, 76); */
    padding-bottom:20px;
    
    
}
.nav li{
    gap:30px;
    cursor: pointer;
    align-items: end;
    padding-bottom:30px;
}
.nav li :hover{
    color: crimson;
}
fieldset{
    width:100vw;
    height:100vh;
    background-color: rgb(212, 212, 195);
}
.form{
    width:100vw;
    height:50vh;
    margin-left:80px;
    padding-top:60px;
    padding-top:50px;
    /* background-color: rgb(180, 178, 176); */
    
}
.form input{
    padding:20px;
    border-radius:10px;
}
.form label{
    font-size:30px;
    color:rgb(17, 15, 27);
}
.form button{
    font-size:20px;
    border-radius:10px;
    color: #ffff;
    background-color: rgb(27, 27, 41);
}
.form h1{
    font-size:30px;
    font-family: "Playwrite NZ Guides", cursive;
}
.note{
    width:100vw;
    height:40vh;
}
.note p{
    text-align: center;
    font-size:20px;
}
.note button{
    font-size:20px;
    margin-left:150px;
    border-radius:25px;
    background-color: rgb(5, 5, 21);
    color: #ffff;
}
.contacts p{
    font-size:25px;
    background-color: rgb(21, 19, 17);
    color: #ffff;
}







/*services.css*/
.lessons{
    width:100vw;
    height:100vh;
    background-color:rgb(15, 15, 35);
    display:block;
    

}
.lessons .section1{
    width:100vw;
    height:50vh;
    display: flex;
    padding-top: 80px;
}
.lessons .section1 .lesson1{
    width:50vw;
    height:50vh;
    padding-right:30px;
    padding-top:15px;
    color: #ffff;
    /* background-color: rgb(18, 18, 75); */
}
 
.lessons .section1 .lesson2{
    width:50vw;
    height:50vh;
    padding-top:15px;
    color: #ffff;
    /* background-color: rgb(38, 38, 109); */

}
.lessons .section2{
    width:100vw;
    height:50vh;
    display: flex;
}
.lessons .section2 .lesson3{
    width:50vw;
    height:50vh;
    padding:10px;
    color: #ffff;
    /* background-color: rgb(30, 30, 84); */
}
.lessons .section2 .lesson4{
    width:50vw;
    height:50vh;
    padding:10px;
    color: #ffff;
    /* background-color: rgb(27, 27, 77); */
}

 fieldset{
    width:100vw;
    height: 80vh;
    /* background-color: rgb(12, 12, 28); */
    
 }
.services{
    width:100vw;
    height:70vh;
    display: flex;
    background-color: rgb(16, 16, 37);
}
.services .GR1 {
width:50vw;
height:70vh;
padding-top: 200px;
font-size:20px;
color: #ffff;
}
.services .GR2{
    width:50vw;
    height:70vh;
    padding-top: 200px;
    font-size:20px;
    color: #ffff;
}
.services h1{
    text-align: center;
    padding-top:100px;
    color: aliceblue;
    
}







/*About us*/
.teams{
    padding-top:80px;
    width:100vw;
    height:100vh;
    /* background-color: rgb(113, 91, 134); */
    display:block;
    text-align: center;
    
}
.teams .values{
    width:100vw;
    height:30vh;
    background-color: rgb(23, 23, 26);
}
.teams .values h1{

    padding-left:50px 10px;
    color: #ffff;
    font-family: "Playwrite NZ Guides", cursive;
}
.teams .values  p{
    padding:20px;
    padding-left:50px;
    color: #ffff;
}
.teams .staff{
    width:100vw;
    height:60vh;
    background-color: rgb(83, 93, 93);
    display: flex;
}

.teams .staff .lstaff{
width:40vw;
height:60vh;
}
.teams .staff .rstaff{
    width:60vw;
    height:60vh;
}
.teams .staff .rstaff p{
    font-size: 20px;
    padding-top:20px;
}

.teams .staff .lstaff p{
    font-size:20px;
    padding-left:30px;
}
.teams .staff .lstaff h1{
    padding-left:20px;
    font-family: "Playwrite NZ Guides", cursive;
}









/*responsiveness*/
@media screen and (max-width:768px){
}

.navbar{
    width:100%;
    height:10vh;
    margin-bottom:50px;
    background-color:rgb(102, 102, 190);
    position: fixed;
    /* padding: 16px 16px; */
    top: 0;
    display: block;
    align-items: center;
    justify-content: space-between;

    
}
.logo{
    font-size:40px;
    font-family: "Playwrite NZ Guides", cursive;
}

.nav ul{
    list-style: none;
    display:flex;
    position:fixed;
    justify-content: center;
    /* padding:20px; */
    /* gap:45px; */
    top: 0;
    right: 0;
    margin:0;
    padding:0;
    /* background-color: rgb(125, 20, 76); */
    padding-bottom:20px;
    
    
}

.nav ul li{
    display: inline-block;
    gap:30px;
    cursor: pointer;
    align-items: end;
    padding-bottom:30px;
}
.nav ul li a{
    display: block;
    padding: 16px 20px;
    text-decoration: none;
    background-color: #fff;

}
.nav li :hover{
    color: crimson;
}

.main{
    width:100vw;
    height:90vh;
    /* background-color: rgb(72, 96, 96); */
    margin-top:20px;
    display: block;
}



.main .header {
    background-size: cover;
    background-repeat: no-repeat;
    animation: flyUp 10s infinite;
    background-position: center;
}



/*aboutus*/




